{% extends "load_base.html" %}

{% block title %}Loans{% endblock %}

{% block content %}
    <h1> Loans Input </h1>
    <form action="/loan/" method="post" id="loan" novalidate>
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="submit">
    </form>
{% endblock %}