/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/



.demo-detail-item {
  box-sizing: border-box;
  width: 100%;
  height: 250px;
  text-align: center;
  font-weight: bold;
  color: #333;
  font-size: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.demo-master-item {
  box-sizing: border-box;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  color: #333;
}

.demo-tallstuff {
  height:75px;
  padding-top:10px;
}

.demo-flex-display {
  margin-bottom: 20px;
}

.demo-row-classes .oj-flex > * {
  background-color: lightyellow;
}

.demo-col-classes .oj-flex > * {
  background-color: lavender;
}

.oj-flex-item {
    padding-left: 10px;
    padding-right: 10px;
}

.demo-centering-container {
  text-align: center;
  padding: 0;
}