<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 <div id="sampleDemo" style="" class="demo-padding demo-container">
     <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
         <div id="demo-container" class="oj-flex demo-edge-top">
             <oj-tab-bar id="hnavlist" 
                         edge="[[currentEdge]]"
                         selection="{{selectedItem}}">
                 <ul>
                     <li id="income">
                         <a href="#" aria-controls="home-tab-panel" id="home-tab" >
                             Income
                         </a>
                     </li>
                     <li id="expense">
                         <a href="#"  aria-controls="blogs-tab-panel" id="blogs-tab">
                             Expense
                         </a>
                     </li>
                     <li id="chain">
                         <a href="#" aria-controls="settings-tab-panel" id="settings-tab" >
                             Chain
                         </a>
                     </li>
                     <li id="loans">
                         <a href="#"  aria-controls="about-tab-panel" id="about-tab">
                             Loan
                         </a>
                     </li>
                     <li id="returns" >
                         <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                             Returns
                         </a>
                     </li>
                     <li id="reversal" >
                         <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                             Reversal
                         </a>
                     </li>
                 </ul>
             </oj-tab-bar>
         </div>
         <div>
            <oj-switcher value="[[selectedItem]]">
                <div slot="income"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: incomedatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                      {headerText: 'Money',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       sortProperty: 'income_got'},
                                      {headerText: 'Source',
                                       headerStyle: 'min-width: 12em; max-width: 12em; width: 12em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 12em; max-width: 12em; width: 12em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'income_source'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 12em; max-width: 12em; width: 12em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 12em; max-width: 12em; width: 12em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Date',
                                       headerStyle: 'min-width: 12em; max-width: 12em; width: 12em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 12em; max-width: 12em; width: 12em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'income_date'},
                                       {headerText: 'Credited To',
                                       headerStyle: 'min-width: 12em; max-width: 12em; width: 12em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 12em; max-width: 12em; width: 12em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'credited_to'},
                               ],
                            rowTemplate: incomeRowTemplate}">
                        </table>

                    </div>
                </div>
                <div slot="expense"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table2" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: expensedatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                      {headerText: 'Money Spent',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'money_spent'},
                                       {headerText: 'Money Source',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'money_source'},
                                       {headerText: 'Category',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'expense_category'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Date',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'purchase_date'},
                               ],
                            rowTemplate: expenseRowTemplate}">
                        </table>
                    </div>
                </div>
                <div slot="chain"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table3" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: chaindatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                      {headerText: 'Source Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'income_chain'},
                                       {headerText: 'Money',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'money_spent'},
                                       {headerText: 'money_destination',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'money_destination'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Date',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'purchase_date'},
                               ],
                            rowTemplate: chainRowTemplate}">
                        </table>
                    </div>
                </div>
                <div slot="loans"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table4" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: loansdatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                      {headerText: 'Credited By',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'credited_by'},
                                       {headerText: 'Credited To',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'credited_to'},
                                       {headerText: 'Loan Amount',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'loan_got'},
                                       {headerText: 'Loan Tenure',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'loan_tenure'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Date',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'loan_date'},
                               ],
                            rowTemplate: loansRowTemplate}">
                        </table>
                    </div>
                </div>
                 <div slot="returns"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table5" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: returnsdatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                       {headerText: 'Amount',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'amount'},
                                       {headerText: 'Credited To',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'credited_to'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Income ID',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'income_id'},
                                       {headerText: 'Return ID',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'return_link'},
                                       {headerText: 'Date',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'purchase_date'}
                               ],
                            rowTemplate: returnsRowTemplate}">
                        </table>
                    </div>
                </div>
                <div slot="reversal"
                      id="home-tab-panel"
                      role="tabpanel" 
                      aria-labelledby="home-tab">
                    <div class="demo-tab-content">
                        <table id="table6" summary="Department List" aria-label="Departments Table"
                                data-bind="ojComponent: {component: 'ojTable',
                            data: reversaldatasource,
                            editMode: 'rowEdit',
                            columns: [{headerText: 'Id',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'id'},
                                       {headerText: 'Amount',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'reversal_amount'},
                                       {headerText: 'Purchase Date',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'purchase_date'},
                                       {headerText: 'Description',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end',
                                       sortProperty: 'description'},
                                       {headerText: 'Source Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'source_link'},
                                       {headerText: 'Returns Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'returns_link'},
                                       {headerText: 'Reversal Loan',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'reversal_loan'},
                                       {headerText: 'Income Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'income_link'},
                                       {headerText: 'Loan Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'loan_link'},
                                       {headerText: 'Income Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'income_link'},
                                       {headerText: 'Chain Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'chain_link'},
                                       {headerText: 'Loan Link',
                                       headerStyle: 'min-width: 8em; max-width: 8em; width: 8em',
                                       headerClassName: 'oj-helper-text-align-end',
                                       style: 'min-width: 8em; max-width: 8em; width: 8em',
                                       className: 'oj-helper-text-align-end oj-read-only',
                                       sortProperty: 'loan_link'}
                               ],
                            rowTemplate: reversalRowTemplate}">
                        </table>
                    </div>
                </div>
                
            </oj-switcher>
         </div>
     </div>
 </div>

 
 

<script type="text/html" id="rowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: income_got">
        </td>
        <td data-bind="text: income_source">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: income_date">
        </td>
        <td data-bind="text: credited_to">
        </td>
    </tr>
</script>
<script type="text/html" id="editRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: income_got}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: income_source}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: income_date}">
            </input>
        </td>
         <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: credited_to}">
            </input>
        </td>
    </tr>
</script>

<script type="text/html" id="expenserowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: money_spent">
        </td>
        <td data-bind="text: money_source">
        </td>
        <td data-bind="text: expense_category">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: purchase_date">
        </td>
    </tr>
</script>
<script type="text/html" id="expenseeditRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: money_spent}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: money_source}">
            </input>
        </td>
        <td>
            <input type="text" id="it4" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: expense_category}">
            </input>
        </td>
        <td>
            <input type="text" id="it5" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: purchase_date}">
            </input>
        </td>
    </tr>
</script>
<script type="text/html" id="chainrowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: income_chain">
        </td>
        <td data-bind="text: money_spent">
        </td>
        <td data-bind="text: money_destination">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: purchase_date">
        </td>
    </tr>
</script>
<script type="text/html" id="chaineditRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: income_chain}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: money_spent}">
            </input>
        </td>
        <td>
            <input type="text" id="it4" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: money_destination}">
            </input>
        </td>
        <td>
            <input type="text" id="it5" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: purchase_date}">
            </input>
        </td>
    </tr>
</script>
        
<script type="text/html" id="loansRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: credited_by">
        </td>
        <td data-bind="text: credited_to">
        </td>
        <td data-bind="text: loan_got">
        </td>
        <td data-bind="text: loan_tenure">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: loan_date">
        </td>
    </tr>
</script>
        
<script type="text/html" id="loanseditRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: credited_by}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: credited_to}">
            </input>
        </td>
        <td>
            <input type="text" id="it4" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: loan_got}">
            </input>
        </td>
        <td>
            <input type="text" id="it5" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: loan_tenure}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: loan_date}">
            </input>
        </td>
    </tr>
</script>

<script type="text/html" id="returnsrowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: amount">
        </td>
        <td data-bind="text: credited_to">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: income_id">
        </td>
        <td data-bind="text: return_link">
        </td>
        <td data-bind="text: purchase_date">
        </td>
    </tr>
</script>

<script type="text/html" id="returnseditRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: amount}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: credited_to}">
            </input>
        </td>
        <td>
            <input type="text" id="it4" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
        <td>
            <input type="text" id="it5" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: income_id}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: return_link}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: purchase_date}">
            </input>
        </td>
    </tr>
</script>
        
<script type="text/html" id="reversalrowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td data-bind="text: reversal_amount">
        </td>
        <td data-bind="text: purchase_date">
        </td>
        <td data-bind="text: description">
        </td>
        <td data-bind="text: source_link">
        </td>
        <td data-bind="text: returns_link">
        </td>
        <td data-bind="text: reversal_loan">
        </td>
        <td data-bind="text: income_link">
        </td>
        <td data-bind="text: loan_link">
        </td>
        <td data-bind="text: income_link">
        </td>
        <td data-bind="text: chain_link">
        </td>
        <td data-bind="text: loan_link">
        </td>
    </tr>
</script>
        
<script type="text/html" id="reversaleditRowTemplate">
    <tr>
        <td data-bind="text: id">
        </td>
        <td>
            <input type="text" id="it2" data-bind="ojComponent:{
                                          component: 'ojInputText',
                                          value: reversal_amount}">
            </input>
        </td>
        <td>
            <input type="text" id="it3" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: purchase_date}">
            </input>
        </td>
        <td>
            <input type="text" id="it4" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: description}">
            </input>
        </td>
        <td>
            <input type="text" id="it5" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: source_link}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: returns_link}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: reversal_loan}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: income_link}">
            </input>
        </td>
         <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: loan_link}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: income_link}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: chain_link}">
            </input>
        </td>
        <td>
            <input type="text" id="it6" data-bind="ojComponent:{
                                          component:'ojInputText',
                                          value: loan_link}">
            </input>
        </td>
    </tr>
</script>

