<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 <div class="oj-hybrid-padding">
     <div id="sampleDemo" style="" class="demo-padding demo-container">
         <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
             <div class=" oj-panel-alt1" >
                 <div class="demo-centering-container">
                    <oj-combobox-many id="combobox" options="[[tags]]" placeholder="Select custom Tags" style="max-width:20em">
                    </oj-combobox-many>
                 </div>
                 <br>
                 <div id='buttons-container-year' class="oj-panel-alt1 demo-centering-container">
                     <oj-buttonset-one id="formatsetyear" value="{{year_array}}" >
                         <!-- ko foreach: year_values -->
                         <oj-option value='[[id]]'>
                             <span data-bind="text: label"></span>
                         </oj-option>
                         <!-- /ko -->
                     </oj-buttonset-one>
                 </div>
                 <br>
                 <div id='buttons-container-month' class="oj-panel-alt1 demo-centering-container" >
                     <oj-buttonset-many id="formatset" value="{{months_array}}" >
                         <oj-option value="01">Jan</oj-option>
                         <oj-option value="02">Feb</oj-option>
                         <oj-option value="03">Mar</oj-option>
                         <oj-option value="04">Apr</oj-option>
                         <oj-option value="05">May</oj-option>
                         <oj-option value="06">Jun</oj-option>
                         <oj-option value="07">Jul</oj-option>
                         <oj-option value="08">Aug</oj-option>
                         <oj-option value="09">Sep</oj-option>
                         <oj-option value="10">Oct</oj-option>
                         <oj-option value="11">Nov</oj-option>
                         <oj-option value="12">Dec</oj-option>
                     </oj-buttonset-many>

                     <oj-button on-click='[[toggleAll]]'>All</oj-button>
                 </div>
                 
                 <br>
                 <div id='buttons-container-method' class="oj-panel-alt1 demo-centering-container">
                     <oj-buttonset-one id="formatsetview" value="{{method}}">
                         <!-- ko foreach: method_values -->
                         <oj-option value='[[id]]'>
                             <span data-bind="text: label"></span>
                         </oj-option>
                         <!-- /ko -->
                     </oj-buttonset-one>
                 </div>
                 <br>
                 <div id='buttons-container-view' class="oj-panel-alt1 demo-centering-container">
                     <oj-buttonset-one id="formatsetview" value="{{viewmode}}">
                         <!-- ko foreach: view_values -->
                         <oj-option value='[[id]]'>
                             <span data-bind="text: label"></span>
                         </oj-option>
                         <!-- /ko -->
                     </oj-buttonset-one>
                 </div>
                 <br>
                  <div  class=" demo-centering-container">
                        <p><button>Submit</button></p>                                         
                  </div>
             </div>
         </div>
     </div>
     <div id='pie-chart-container'>
         <oj-chart id="pieChart"
                   type="pie" 
                   series="[[expensedatasourcetemp]]"
                   animation-on-display="auto"
                   animation-on-data-change="auto"
                   style-defaults.three-d-effect="[[threeDValue]]"
                   hover-behavior="dim"
                   style="max-width:500px;width:100%;height:350px;">
         </oj-chart>
         <!-- 2D/3D toggle button -->
         <oj-buttonset-one aria-label="Choose between 2D and 3D"  value="{{threeDValue}}" chroming="half" display="icons">
             <oj-option value="off">    <span slot="startIcon" class="oj-icon demo-c3dec-2d"></span>    <span>2D</span>  </oj-option> 
             <oj-option value="on">    <span slot="startIcon" class="oj-icon demo-c3dec-3d"></span>    <span>3D</span>  </oj-option>
         </oj-buttonset-one> 
     </div>
     <div id='bar-chart-container'>
         <oj-chart id="barChart"
                   type="bar" 
                   orientation="[[orientationValue]]"
                   stack="[[stackValue]]"
                   series="[[expensedatasourcetemp]]"
                   groups="[[months_array]]"
                   hidden-categories="{{hiddenCategories}}"
                   animation-on-display="auto"
                   animation-on-data-change="auto"
                   hide-and-show-behavior="withRescale"
                   style="max-width:500px;width:100%;height:350px;">
         </oj-chart>
     </div>

 </div>
