<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
-->
<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="container" class="oj-hybrid-padding">
            <div id="tabbardemo" class="demo-flex-display oj-flex-items-pad">
                
                    
                <div class=" oj-panel-alt1" >            
                    <div id='buttons-container' class="oj-panel-alt1 demo-centering-container">

                        <!-- ko ifnot: isSmall() -->
                        <oj-buttonset-one id="drinkset" value="{{drink}}">
                            <!-- ko foreach: drinkValues -->
                            <oj-option value='[[id]]'>
                                <span data-bind="text: label"></span>
                            </oj-option>
                            <!-- /ko -->
                        </oj-buttonset-one> 
                        <!-- /ko -->

                        <!-- ko if: isSmall() -->
                        <oj-select-one id="select" style="max-width:62em" value="{{drink}}"
                                       aria-label="Method:">
                            <!-- ko foreach: drinkValues -->
                            <oj-option value='[[id]]'>
                                <span data-bind="text: label"></span>
                            </oj-option>
                            <!-- /ko -->
                        </oj-select-one>
                        <!-- /ko -->

                    </div>
                    <div  id="form-container">
                            <oj-switcher value="[[drink]]">
                                <div slot="expense"
                                     id="blogs-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="blogs-tab">
                                    <div class="demo-tab-content">
                                        <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="money_spent">
                                                            <oj-label for="control1" >Money Spent</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="money_spent_form">
                                                            <oj-input-text id="control1" value={{money_spent}}></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="money_source">
                                                            <oj-label for="combobox">Money Source:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="money_source_form">
                                                            <oj-combobox-one id="combobox" options="[[credited_to]]" value="{{money_source}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="expense_category">
                                                            <oj-label for="combobox">Expense category:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="expense_category_form">
                                                            <oj-combobox-one id="combobox" options="[[expense_cat]]" value="{{expense_category}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="control3" >Description:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="control3" value="{{description}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="purchase_date">
                                                            <oj-label for="control4" >Purchase date:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="purchase_date_form">
                                                            <oj-input-date id="control4" value='{{purchase_date}}'></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="expense_link" >
                                                            <oj-label for="combobox12">Expense link:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="expense_link_form" >
                                                            <oj-combobox-one id="combobox12" value="{{expense_link_status}}"
                                                                             style="max-width:20em">
                                                                <oj-option value="income">Income</oj-option>
                                                                <oj-option value="chain">Chain</oj-option>
                                                                <oj-option value="loan">Loan</oj-option>
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="income_link">
                                                            <oj-label id="label1" for="control5" >Income link:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="income_link_form" >
                                                            <select id="control5" data-bind="ojComponent: {component: 'ojSelect',  value: income_link, options: incomedropdowndata, optionsKeys: {label: 'desp', value: 'id'}}">
                                                            </select>
                                                            <div>Balance:<span data-bind="text: incomebalance"></span> </div>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="chain_link">
                                                            <oj-label for="control6" >Chain link:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="chain_link_form">
                                                            <select id="control6" data-bind="ojComponent: {component: 'ojSelect',  value: chain_link, options: chaindropdowndata, optionsKeys: {label: 'desp', value: 'id'}}">
                                                            </select>
                                                            <div>Balance:<span data-bind="text: chainbalance"></span> </div>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="loan_link">
                                                            <oj-label for="control7" >Loan link:</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="loan_link_form">
                                                            <select id="control7" data-bind="ojComponent: {component: 'ojSelect',  value: loan_link, options: loansdropdowndata, optionsKeys: {label: 'desp', value: 'id'}}">
                                                            </select>
                                                            <div>Balance:<span data-bind="text: loansbalance"></span> </div>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                        <p><button data-bind='click: expensebuttonClick'>Submit</button></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div slot="income"
                                     id="settings-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="settings-tab">
                                    <div class="demo-tab-content">
                                        <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="credited_by">
                                                            <oj-label for="contro21" >Credited by</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="Credited by_form">
                                                            <oj-input-text id="contro21" value="{{credited_by}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="income_got">
                                                            <oj-label for="contro31" >Income_got</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="Income_got_form">
                                                            <oj-input-text id="contro31" value="{{income_got}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">
                                                        <div class="oj-flex-item" id="income_source">
                                                            <oj-label for="contro31" >income_source</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="income_source_form">
                                                            <oj-combobox-one id="income_combobox" value="{{income_source}}"
                                                                             style="max-width:20em" options="[[income_source_options]]">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">   
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="contro41" >Description</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="contro41" value="{{income_description}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">    
                                                        <div class="oj-flex-item" id="income_date">
                                                            <oj-label for="contro51" >Income date</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="income_date_form">
                                                            <oj-input-date id="date" value='{{income_date}}'></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex ">    
                                                        <div class="oj-flex-item" id="income_credited_to">
                                                            <oj-label for="contro61" >Credited to</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="income_credited_to_form">
                                                            <oj-combobox-one id="combobox" options="[[credited_to]]" value="{{income_credited_to}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                        <p><button data-bind='click: incomebuttonClick'>Submit</button></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div slot="chain"
                                     id="settings-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="settings-tab">
                                    <div class="demo-tab-content">
                                         <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="income_chain">
                                                            <oj-label for="contro71" >Income chain</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="income_chain_form">
                                                            <oj-input-text id="contro71" value="{{incomechain}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="money_spent">
                                                            <oj-label for="contro71" >Money spent</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="money_spent_form">
                                                            <oj-input-text id="contro71" value="{{money_spent}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">   
                                                        <div class="oj-flex-item" id="money_dest">
                                                            <oj-label for="contro81" >Money destination</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="money_destn_form">
                                                            <oj-combobox-one id="combobox" options="[[credited_to]]" value="{{money_dest}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">   
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="contro91" >Description</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="contro91" value="{{chain_description}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="purchase_date">
                                                            <oj-label for="contro101" >Purchase date</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="purchase_date_form">
                                                            
                                                            <oj-input-date id="contro101" value="{{chain_purchase_date}}"></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                    <p><button data-bind='click: chainbuttonClick'>Submit</button></p> 
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div slot="loans"
                                     id="settings-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="settings-tab">
                                    <div class="demo-tab-content">
                                         <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="credited_by">
                                                            <oj-label for="contro111" >Credited by</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="credited_by_form">
                                                            <oj-input-text id="contro111" value="{{loancredited_by}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="credited_to">
                                                            <oj-label for="contro61" >Credited to</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="credited_to_form">
                                                            <oj-combobox-one id="combobox" options="[[credited_to]]" value="{{loancredited_to}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">   
                                                        <div class="oj-flex-item" id="loan_got">
                                                            <oj-label for="contro112" >Loan got</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="loan_got_form">
                                                            <oj-input-text id="contro112" value="{{loan_got}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="loan_tenure">
                                                            <oj-label for="contro113" >Loan Tenure</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="loan_tenure_form">
                                                            <oj-input-text id="contro113" value="{{loan_tenure}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="contro114" >Description</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="contro114" value="{{loandescription}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="loan_date">
                                                            <oj-label for="contro115" >Loan date</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="loan_date_form">
                                                            <oj-input-date id="contro115" value="{{loan_date}}"></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                       <p><button data-bind='click: loanbuttonClick'>SUBMIT</button></p>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                </div>
                                <div slot="returns"
                                     id="settings-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="settings-tab">
                                    <div class="demo-tab-content">
                                         <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="amount">
                                                            <oj-label for="contro116" >Amount</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="amount_form">
                                                            <oj-input-text id="contro116" value="{{amount}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="contro117" >Description</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="contro117" value="{{returndescription}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">   
                                                        <div class="oj-flex-item" id="purchase_date">
                                                            <oj-label for="contro118" >Purchase date</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="purchase_date_form">
                                                            <oj-input-date id="contro118" value="{{returnpurchase_date}}"></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="return_link">
                                                            <oj-label for="contro119" >Return Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="return_link_form">
                                                            <oj-input-text id="contro119" value="{{returnsreturn_link}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="credited_to">
                                                            <oj-label for="contro120" >Credited to</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="credited_to_form">
                                                            <oj-combobox-one id="combobox" options="[[credited_to]]" value="{{returncredited_to}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                        <p><button data-bind='click: returnsbuttonClick'>SUBMIT</button></p>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                 </div>
                                 <div slot="reversal"
                                     id="settings-tab-panel"
                                     role="tabpanel" 
                                     aria-labelledby="settings-tab">
                                    <div class="demo-tab-content">
                                         <div class="oj-flex oj-sm-only-flex-direction-column oj-md-only-flex-direction-column oj-lg-flex-items-1 oj-form-layout" > 
                                            <div class="oj-flex-item">
                                                <div class="oj-form  oj-sm-odd-cols-12 oj-md-odd-cols-5 oj-md-labels-inline">
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="reversal_amount">
                                                            <oj-label for="contro121" >Reversal amount</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_amount_form">
                                                            <oj-input-text id="contro121" value="{{reversal_amount}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="source_link">
                                                            <oj-label for="contro122" >Source Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="credited_to_form">
                                                            <oj-combobox-one id="combobox" options="[[source_link]]" value="{{reversal_source_link}}"
                                                                             style="max-width:20em">
                                                            </oj-combobox-one>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">   
                                                        <div class="oj-flex-item" id="reversal_loan_link">
                                                            <oj-label for="contro1231" >Loan Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_loan_link_form">
                                                            <oj-input-text id="contro1232" value="{{reversal_loan_link}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="reversal_chain_link">
                                                            <oj-label for="contro1233" >Chain Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_chain_link_form">
                                                            <oj-input-text id="contro1234" value="{{reversal_chain_link}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="reversal_income_link">
                                                            <oj-label for="contro123" >Income Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_income_link_form">
                                                            <oj-input-text id="contro1235" value="{{reversal_income_link}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">
                                                        <div class="oj-flex-item" id="reversal_returns_link">
                                                            <oj-label for="contro1236" >Returns Link</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_returns_link_form">
                                                            <oj-input-text id="contro1237" value="{{reversal_returns_link}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="description">
                                                            <oj-label for="contro124" >Description</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="description_form">
                                                            <oj-input-text id="contro124" value="{{reversal_description}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="purchase_date">
                                                            <oj-label for="contro125" >Purchase date</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="purchase_date_form">
                                                            <oj-input-date id="contro125" value="{{reversal_purchase_date}}"></oj-input-date>
                                                        </div>
                                                    </div>
                                                    <div class="oj-flex">    
                                                        <div class="oj-flex-item" id="reversal_loan">
                                                            <oj-label for="contro126" >Revesal Loan</oj-label>
                                                        </div>
                                                        <div class="oj-flex-item" id="reversal_loan_form">
                                                            <oj-input-text id="contro126" value="{{reversal_reversal_loan}}"></oj-input-text>
                                                        </div>
                                                    </div>
                                                    <div  class="demo-centering-container">
                                                        <p><button data-bind='click: reversalbuttonClick'>SUBMIT</button></p>
                                                    </div>
                                                </div>
                                             </div>
                                        </div>
                                    </div>
                                 </div>
                            </oj-switcher>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>
<div id="sampleDemo" style="" class="demo-padding demo-container">
    <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
        <div id="demo-container" class="oj-flex demo-edge-top">
            <oj-tab-bar id="hnavlist" 
                        edge="[[currentEdge]]"
                        selection="{{selectedItem}}">
                <ul>
                    <li id="income">
                        <a href="#" aria-controls="home-tab-panel" id="home-tab" >
                            Income
                        </a>
                    </li>
                    <li id="expense">
                        <a href="#"  aria-controls="blogs-tab-panel" id="blogs-tab">
                            Expense
                        </a>
                    </li>
                    <li id="chain">
                        <a href="#" aria-controls="settings-tab-panel" id="settings-tab" >
                            Chain
                        </a>
                    </li>
                    <li id="loans">
                        <a href="#"  aria-controls="about-tab-panel" id="about-tab">
                            Loan
                        </a>
                    </li>
                    <li id="returns" >
                        <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                            Returns
                        </a>
                    </li>
                    <li id="reversal" >
                        <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                            Reversal
                        </a>
                    </li>
                </ul>
            </oj-tab-bar>
        </div>
        <div>
            <oj-switcher value="[[selectedItem]]">
                <div slot="income"
                     id="home-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="home-tab">
                    <div class="demo-tab-content">

                        <table id="incomeTable"

                               data-bind="ojComponent: {component: 'ojTable', data: incomedatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'Money',field:'income_got'}, {headerText:'Source',field:'income_source'},
                           {headerText:'Description',field:'description'}, {headerText:'Date',field:'income_date'}, {headerText:'Credited To',field:'credited_to'}],

                               rowTemplate: 'rowScript'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: incomedatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
                <div slot="expense"
                     id="blogs-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="blogs-tab">
                    <div class="demo-tab-content">

                        <table id="expenseTable"

                               data-bind="ojComponent: {component: 'ojTable', data: expensedatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'money_spent',field:'money_spent'}, {headerText:'money_source',field:'money_source'},
                           {headerText:'expense_category',field:'expense_category'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}],

                               rowTemplate: 'rowScript_expense'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: expensedatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
                <div slot="chain"
                     id="settings-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="settings-tab">
                    <div class="demo-tab-content">

                        <table id="chainTable"

                               data-bind="ojComponent: {component: 'ojTable', data: chaindatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'income_chain', field:'income_chain'}, {headerText:'money_spent',field:'money_spent'},
                           {headerText:'money_destination',field:'money_destination'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}],

                               rowTemplate: 'rowScript_chain'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: chaindatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
                <div slot="loans"
                     id="about-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="about-tab">
                    <div class="demo-tab-content">

                        <table id="loanTable"

                               data-bind="ojComponent: {component: 'ojTable', data: loansdatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'credited_by',field:'credited_by'}, {headerText:'credited_to',field:'credited_to'},
                           {headerText:'loan_got',field:'loan_got'}, {headerText:'loan_tenure',field:'loan_tenure'}, {headerText:'description',field:'description'}, {headerText:'loan_date',field:'loan_date'}],

                               rowTemplate: 'rowScript_loans'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: loansdatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
                <div slot="returns"
                     id="contact-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="contact-tab">
                    <div class="demo-tab-content">

                        <table id="returnsTable"

                               data-bind="ojComponent: {component: 'ojTable', data: returnsdatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'return_link',field:'return_link'}, {headerText:'amount',field:'amount'},
                           {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}, {headerText:'credited_to',field:'credited_to'}, {headerText:'income_id',field:'income_id'}],

                               rowTemplate: 'rowScript_returns'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: returnsdatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
                <div slot="reversal"
                     id="contact-tab-panel"
                     role="tabpanel" 
                     aria-labelledby="contact-tab">
                    <div class="demo-tab-content">

                        <table id="reversalTable"

                               data-bind="ojComponent: {component: 'ojTable', data: reversaldatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'chain_link',field:'chain_link'}, {headerText:'loan_link',field:'loan_link'},
                           {headerText:'income_link',field:'income_link'}, {headerText:'returns_link',field:'returns_link'}, {headerText:'reversal_amount',field:'reversal_amount'},
                           {headerText:'source_link',field:'source_link'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}, {headerText:'reversal_loan',field:'reversal_loan'}],

                               rowTemplate: 'rowScript_reversal'}">

                        </table>
                        <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: reversaldatasource, pageSize: 10}">
                        </div>

                    </div>
                </div>
            </oj-switcher>
        </div>  
    </div>
</div>


<script id="rowScript" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: income_got"></td>
        <td data-bind="text: income_source"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: income_date"></td>
        <td data-bind="text: credited_to"></td>

    </tr>

</script>


<script id="rowScript_expense" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: money_spent"></td>
        <td data-bind="text: money_source"></td>
        <td data-bind="text: expense_category"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: purchase_date"></td>

    </tr>

</script>

<script id="rowScript_loans" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: credited_by"></td>
        <td data-bind="text: credited_to"></td>
        <td data-bind="text: loan_got"></td>
        <td data-bind="text: loan_tenure"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: loan_date"></td>

    </tr>

</script>

<script id="rowScript_chain" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: income_chain"></td>
        <td data-bind="text: money_spent"></td>
        <td data-bind="text: money_destination"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: purchase_date"></td>

    </tr>

</script>

<script id="rowScript_returns" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: return_link"></td>
        <td data-bind="text: amount"></td>
        <td data-bind="text: description"></td>
        <td data-bind="text: purchase_date"></td>
        <td data-bind="text: credited_to"></td>
        <td data-bind="text: income_id"></td>

    </tr>

</script>

<script id="rowScript_reversal" type="text/html">

    <tr>

        <td data-bind="text: id"></td>

        <td data-bind="text: chain_link"></td>
        <td data-bind="text: loan_link"></td>
        <td data-bind="text: income_link"></td>
        <td data-bind="text: returns_link"></td>
        <td data-bind="text: reversal_amount"></td>
        <td data-bind="text: source_link"></td>
         <td data-bind="text: description"></td>
         <td data-bind="text: purchase_date"></td>
          <td data-bind="text: reversal_loan"></td>

    </tr>

</script>
 
