<!--
 Copyright (c) 2014, 2017, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
 <div class="oj-hybrid-padding">
     <div id="sampleDemo" style="" class="demo-padding demo-container">
         <div id="componentDemoContent" style="width: 1px; min-width: 100%;">
             <div id="demo-container" class="oj-flex demo-edge-top">
                 <oj-tab-bar id="hnavlist" 
                             edge="[[currentEdge]]"
                             selection="{{selectedItem}}">
                     <ul>
                         <li id="income">
                             <a href="#" aria-controls="home-tab-panel" id="home-tab" >
                                 Income
                             </a>
                         </li>
                         <li id="expense">
                             <a href="#"  aria-controls="blogs-tab-panel" id="blogs-tab">
                                 Expense
                             </a>
                         </li>
                         <li id="chain">
                             <a href="#" aria-controls="settings-tab-panel" id="settings-tab" >
                                 Chain
                             </a>
                         </li>
                         <li id="loans">
                             <a href="#"  aria-controls="about-tab-panel" id="about-tab">
                                 Loan
                             </a>
                         </li>
                         <li id="returns" >
                             <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                                 Returns
                             </a>
                         </li>
                         <li id="reversal" >
                             <a href="#" aria-controls="contact-tab-panel" id="contact-tab" >
                                 Reversal
                             </a>
                         </li>
                     </ul>
                 </oj-tab-bar>
             </div>
             <div>
                 <oj-switcher value="[[selectedItem]]">
                     <div slot="income"
                          id="home-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="home-tab">
                         <div class="demo-tab-content">

                             <oj-table id="incomeTable"
                                       aria-label="Incomes Table"
                                       data= '[[incomeprovider]]'
                                       edit-mode='rowEdit'
                                       columns: '[{"headerText":"ID",
                                                    "field":"id",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "headerClassName": "oj-helper-text-align-end",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "className": "oj-helper-text-align-end oj-read-only",
                                                    "sortProperty": "id",
                                                    "template":"IDScript"},
                                                    
                                                    {"headerText":"Money",
                                                    "field":"money",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "sortProperty": "id",
                                                    "template":"moneyScript"},
                                                    
                                                    {"headerText":"source",
                                                    "field":"source",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "sortProperty": "source",
                                                    "template":"sourceScript"},
                                                    
                                                    {"headerText":"desp",
                                                    "field":"desp",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "sortProperty": "desp",
                                                    "template":"despScript"},
                                                    
                                                    {"headerText":"date",
                                                    "field":"date",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "sortProperty": "date",
                                                    "template":"datepScript"},
                                                    
                                                    {"headerText":"credited_to",
                                                    "field":"credited_to",
                                                    "headerStyle": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "style": "min-width: 8em; max-width: 8em; width: 8em",
                                                    "sortProperty": "credited_to",
                                                    "template":"credited_toScript"}]'>
                                       
                                 <template slot="IDScript">
                                     <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                 </template>

                                 <template slot="moneyScript">
                                     <oj-bind-if test='[[$current.mode=="navigation"]]'>
                                         <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                     </oj-bind-if>

                                     <oj-bind-if test='[[$current.mode=="edit"]]'>
                                         <oj-input-text id="it1" value="{{$current.row.money}}" data-oj-context></oj-input-text>
                                     </oj-bind-if>
                                 </template>

                                 <template slot="sourceScript">
                                     <oj-bind-if test='[[$current.mode=="navigation"]]'>
                                         <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                     </oj-bind-if>

                                     <oj-bind-if test='[[$current.mode=="edit"]]'>
                                         <oj-input-text id="it2" value="{{$current.row.source}}" data-oj-context ></oj-input-text>
                                     </oj-bind-if>
                                 </template>
                                                    
                                 <template slot="despScript">
                                     <oj-bind-if test='[[$current.mode=="navigation"]]'>
                                         <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                     </oj-bind-if>

                                     <oj-bind-if test='[[$current.mode=="edit"]]'>
                                         <oj-input-text id="it2" value="{{$current.row.desp}}" data-oj-context ></oj-input-text>
                                     </oj-bind-if>
                                 </template>
                                 
                                 <template slot="dateScript">
                                     <oj-bind-if test='[[$current.mode=="navigation"]]'>
                                         <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                     </oj-bind-if>

                                     <oj-bind-if test='[[$current.mode=="edit"]]'>
                                         <oj-input-text id="it2" value="{{$current.row.date}}" data-oj-context ></oj-input-text>
                                     </oj-bind-if>
                                 </template>
                                                    
                                <template slot="credited_toScript">
                                     <oj-bind-if test='[[$current.mode=="navigation"]]'>
                                         <oj-bind-text value="[[$current.data]]"></oj-bind-text>
                                     </oj-bind-if>

                                     <oj-bind-if test='[[$current.mode=="edit"]]'>
                                         <oj-input-text id="it2" value="{{$current.row.credited_to}}" data-oj-context converter="[[numberConverter]]"></oj-input-text>
                                     </oj-bind-if>
                                 </template>
                             </oj-table>


                         <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: incomedatasource, pageSize: 100}">
                         </div>

                     </div>
                     </div>
                     <div slot="expense"
                          id="blogs-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="blogs-tab">
                         <div class="demo-tab-content">

                             <table id="expenseTable"

                                    data-bind="ojComponent: {component: 'ojTable', data: expensedatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'money_spent',field:'money_spent'}, {headerText:'money_source',field:'money_source'},
                           {headerText:'expense_category',field:'expense_category'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}],

                               rowTemplate: 'rowScript_expense'}">

                             </table>
                             <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: expensedatasource, pageSize: 100}">
                             </div>

                         </div>
                     </div>
                     <div slot="chain"
                          id="settings-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="settings-tab">
                         <div class="demo-tab-content">

                             <table id="chainTable"

                                    data-bind="ojComponent: {component: 'ojTable', data: chaindatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'income_chain', field:'income_chain'}, {headerText:'money_spent',field:'money_spent'},
                           {headerText:'money_destination',field:'money_destination'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}],

                               rowTemplate: 'rowScript_chain'}">

                             </table>
                             <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: chaindatasource, pageSize: 100}">
                             </div>

                         </div>
                     </div>
                     <div slot="loans"
                          id="about-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="about-tab">
                         <div class="demo-tab-content">

                             <table id="loanTable"

                                    data-bind="ojComponent: {component: 'ojTable', data: loansdatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'credited_by',field:'credited_by'}, {headerText:'credited_to',field:'credited_to'},
                           {headerText:'loan_got',field:'loan_got'}, {headerText:'loan_tenure',field:'loan_tenure'}, {headerText:'description',field:'description'}, {headerText:'loan_date',field:'loan_date'}],

                               rowTemplate: 'rowScript_loans'}">

                             </table>
                             <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: loansdatasource, pageSize: 100}">
                             </div>

                         </div>
                     </div>
                     <div slot="returns"
                          id="contact-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="contact-tab">
                         <div class="demo-tab-content">

                             <table id="returnsTable"

                                    data-bind="ojComponent: {component: 'ojTable', data: returnsdatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'return_link',field:'return_link'}, {headerText:'amount',field:'amount'},
                           {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}, {headerText:'credited_to',field:'credited_to'}, {headerText:'income_id',field:'income_id'}],

                               rowTemplate: 'rowScript_returns'}">

                             </table>
                             <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: returnsdatasource, pageSize: 100}">
                             </div>

                         </div>
                     </div>
                     <div slot="reversal"
                          id="contact-tab-panel"
                          role="tabpanel" 
                          aria-labelledby="contact-tab">
                         <div class="demo-tab-content">

                             <table id="reversalTable"

                                    data-bind="ojComponent: {component: 'ojTable', data: reversaldatasource, 

                               columns: [{headerText:'ID',field:'id'}, {headerText:'chain_link',field:'chain_link'}, {headerText:'loan_link',field:'loan_link'},
                           {headerText:'income_link',field:'income_link'}, {headerText:'returns_link',field:'returns_link'}, {headerText:'reversal_amount',field:'reversal_amount'},
                           {headerText:'source_link',field:'source_link'}, {headerText:'description',field:'description'}, {headerText:'purchase_date',field:'purchase_date'}, {headerText:'reversal_loan',field:'reversal_loan'}],

                               rowTemplate: 'rowScript_reversal'}">

                             </table>
                             <div id="pagingIloms" data-bind="ojComponent: {component: 'ojPagingControl', data: reversaldatasource, pageSize: 100}">
                             </div>

                         </div>
                     </div>
                 </oj-switcher>
             </div>  
         </div>
     </div>


     <script id="rowScript" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: money"></td>
             <td data-bind="text: source"></td>
             <td data-bind="text: desp"></td>
             <td data-bind="text: date"></td>
             <td data-bind="text: credited_to"></td>

         </tr>

     </script>


     <script id="rowScript_expense" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: money_spent"></td>
             <td data-bind="text: money_source"></td>
             <td data-bind="text: expense_category"></td>
             <td data-bind="text: description"></td>
             <td data-bind="text: purchase_date"></td>

         </tr>

     </script>

     <script id="rowScript_loans" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: credited_by"></td>
             <td data-bind="text: credited_to"></td>
             <td data-bind="text: loan_got"></td>
             <td data-bind="text: loan_tenure"></td>
             <td data-bind="text: description"></td>
             <td data-bind="text: loan_date"></td>

         </tr>

     </script>

     <script id="rowScript_chain" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: income_chain"></td>
             <td data-bind="text: money_spent"></td>
             <td data-bind="text: money_destination"></td>
             <td data-bind="text: description"></td>
             <td data-bind="text: purchase_date"></td>

         </tr>

     </script>

     <script id="rowScript_returns" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: return_link"></td>
             <td data-bind="text: amount"></td>
             <td data-bind="text: description"></td>
             <td data-bind="text: purchase_date"></td>
             <td data-bind="text: credited_to"></td>
             <td data-bind="text: income_id"></td>

         </tr>

     </script>

     <script id="rowScript_reversal" type="text/html">

         <tr>

             <td data-bind="text: id"></td>

             <td data-bind="text: chain_link"></td>
             <td data-bind="text: loan_link"></td>
             <td data-bind="text: income_link"></td>
             <td data-bind="text: returns_link"></td>
             <td data-bind="text: reversal_amount"></td>
             <td data-bind="text: source_link"></td>
             <td data-bind="text: description"></td>
             <td data-bind="text: purchase_date"></td>
             <td data-bind="text: reversal_loan"></td>

         </tr>

     </script>
 </div>
