{% extends "income_base.html" %}

{% block title %}Income Report{% endblock %}

{% block content %}
    <h1> Income </h1>
    {% for post in posts %}
        <p> {{ post.income_got }} <br /> {{ post.income_source }}</p>
    {% endfor %}
{% endblock %}

