{% extends "load_base.html" %}

{% block title %}Load Income{% endblock %}

{% block content %}
    <h1> Load Income </h1>
    <form action="/income/load_income" method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="submit">
    </form>
{% endblock %}
