{% load static %}

<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>Pavan's Financial Corner</title>
    <meta name="description" content="Financial report at one click">
    <link href="{%  static  'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{%  static  'css/sticky-menu.css' %}" rel="stylesheet">
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Welcome</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whatwedo">Expenses Loader</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Reports</a>
                    </li>
                </ul>
            </div>	<!-- .navbar-collapse -->
        </div>		<!-- .container -->
    </nav>
    <!-- Welcome   -->
    <section id="welcome" class="welcome-section" style="background-image: url({% static 'images/Expenseshome.jpg' %})">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12">
                    <h1 style="color: mediumblue">Welcome To Pavan's Financial tool</h1>
					<p>&nbsp;</p>
                    <a class="btn btn-primary page-scroll" href="#about">Click To Scroll Down!</a>
                </div>
            </div>
        </div>
    </section>

    <!-- About -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>A single tool to track all the financial history and reports</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- What we do Section -->
    <section id="whatwedo" class="whatwedo-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Load Expenses and Incomes</h1>
                    <div>
                        <a href="/expense/load_expense">Expense</a>&emsp;
                        <a href="/income/load_income">Income</a>&emsp;
                        <a href="/chain">Chain</a>&emsp;
                        <a href="/loan">Loan</a>&emsp;
                        <a href="/returns">Returns</a>&emsp;
                        <a href="/reversal">Reversals</a>&emsp;
                        <a href="/">Complete Report</a>&emsp;
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Reports Section</h1>
                </div>
            </div>
        </div>
    </section>
	
	<a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <!-- Scrolling Nav JavaScript -->
    <script src="{%  static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/sticky-menu.js' %}"></script>

</body>

</html>
