{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
 <script type = "text/javascript"
         src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
 </script>
<style>
    table, th, td {
      border: 1px solid black;
    }
    body {
       padding:10px;
       padding-bottom:60px;   /* Height of the footer */
    }
    footer {
       position:fixed;
       bottom: 0px;
       height: 20px;
       background: lightblue;
       width: 100%;
    }
</style>
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div>
         <form id="radio_view">
          <input type="radio" name="view_type" value="income" checked> Income&emsp;
          <input type="radio" name="view_type" value="expenditure"> Expenditure&emsp;
          <input type="radio" name="view_type" value="chain"> Chain&emsp;
          <input type="radio" name="view_type" value="loan"> Loan&emsp;
          <input type="radio" name="view_type" value="returns"> Returns&emsp;
        </form>
    </div>
    <script type = "text/javascript">
         $(document).ready(function() {
                $(".income_table").show();
                $(".chain").hide();
                $(".all_expense").hide();
                $(".loan_form").hide();
                $(".returns").hide();
             $("input[name='view_type']").on('change', function () {
                 var radioValue = $("input[name='view_type']:checked").val();
                 if (radioValue === "expenditure") {
                     $(".income_table").hide();
                    $(".chain").hide();
                    $(".all_expense").show();
                    $(".loan_form").hide();
                    $(".returns").hide();
                 } else if(radioValue === "income") {
                     $(".income_table").show();
                    $(".chain").hide();
                    $(".all_expense").hide();
                    $(".loan_form").hide();
                    $(".returns").hide();
                 } else if(radioValue === "chain") {
                     $(".income_table").hide();
                    $(".chain").show();
                    $(".all_expense").hide();
                    $(".loan_form").hide();
                    $(".returns").hide();
                 } else if(radioValue === "loan") {
                     $(".income_table").hide();
                    $(".chain").hide();
                    $(".all_expense").hide();
                    $(".loan_form").show();
                    $(".returns").hide();
                 } else if(radioValue === "returns") {
                     $(".income_table").hide();
                    $(".chain").hide();
                    $(".all_expense").hide();
                    $(".loan_form").hide();
                    $(".returns").show();
                 }
             });
         });
    </script>
    <div>
         <div class="income_table">
            <table style="width:50%" >
                <tr>
                    <th>ID</th>
                    <th>Credited By</th>
                    <th>Income </th>
                    <th>Income Source</th>
                    <th>Description</th>
                    <th>Income Date</th>
                    <th>Credited To</th>
                </tr>
                {% for post in income_form %}
                    <tr><td>{{ post.id }}</td><td>{{ post.credited_by }}</td><td>{{ post.income_got }}</td>
                        <td>{{ post.income_source }}</td><td>{{ post.description }}</td><td>{{ post.income_date }}</td>
                        <td>{{ post.credited_to }}</td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="all_expense">
            <table style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>Money Spent</th>
                    <th>Money Source</th>
                    <th>Expense Category</th>
                    <th>Description</th>
                    <th>Purchase Date</th>
                    <th>Expense Link</th>
                </tr>
                {% for post in load_form %}
                <tr><td>{{ post.id }}</td><td>{{ post.money_spent }}</td><td> {{ post.money_source }}</td>
                    <td> {{ post.expense_category }} </td><td> {{ post.description }} </td>
                    <td> {{ post.purchase_date }} </td><td> {{ post.expense_link }} </td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="chain">
            <table style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>Money Spent</th>
                    <th>Money Destination</th>
                    <th>Description</th>
                    <th>Purchase Date</th>
                    <th>Income Chain</th>
                </tr>
                {% for post in chain_form %}
                <tr><td>{{ post.id }} </td><td> {{ post.money_spent }} </td><td> {{ post.money_destination }} </td>
                    <td> {{ post.description }} </td><td> {{ post.purchase_date }} </td>
                    <td> {{ post.income_chain }} </td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="loan_form">
            <table style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>Credited By</th>
                    <th>Credited To</th>
                    <th>Loan Amount</th>
                    <th>Loan Tenure</th>
                    <th>Date</th>
                </tr>
                {% for post in loan_form %}
                <tr><td>{{ post.id }} </td><td>{{ post.credited_by }} </td><td> {{ post.credited_to }} </td><td> {{ post.loan_got }} </td>
                    <td> {{ post.loan_tenure }} </td><td> {{ post.loan_date }} </td></tr>
                {% endfor %}
            </table>
        </div>
        <div class="returns">
            <table style="width:50%">
                <tr>
                    <th>ID</th>
                    <th>amount</th>
                    <th>description</th>
                    <th>purchase_date</th>
                    <th>Expenditure link</th>
                </tr>
                {% for post in returns_form %}
                <tr><td>{{ post.id }} </td><td>{{ post.amount }} </td><td> {{ post.description }} </td>
                    <td> {{ post.purchase_date }} </td><td> {{ post.return_link }} </td></tr>
                {% endfor %}
            </table>
        </div>
        </div>
    <footer>
        <a href="/expense/load_expense">Expense</a>&emsp;
        <a href="/income/load_income">Income</a>&emsp;
        <a href="/chain">Chain</a>&emsp;
        <a href="/loan">Loan</a>&emsp;
        <a href="/returns">Returns</a>&emsp;
        <a href="/reversal">Reversals</a>&emsp;
        <a href="/">Complete Report</a>&emsp;
    </footer>
</body>
</html>