{% extends "load_base.html" %}

{% block title %}Load Reversal{% endblock %}

{% block content %}
    <h1> Load new reversal </h1>
    <form action="/reversal/" method="post" id="expense" novalidate>
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="submit">
    </form>

    <script type = "text/javascript">
        $(document).ready(function() {
            $('label[for="id_chain_link"]').hide();$("#id_chain_link").hide();
            $('label[for="id_loan_link"]').show();$("#id_loan_link").show();
            $('label[for="id_income_link"]').hide();$("#id_income_link").hide();
            $('label[for="id_returns_link"]').hide();$("#id_returns_link").hide();
         });
        $('#id_source_link').on('change',function(){
            if( $(this).val()==="income"){
               $('label[for="id_chain_link"]').hide();$("#id_chain_link").hide();
               $('label[for="id_loan_link"]').hide();$("#id_loan_link").hide();
               $('label[for="id_income_link"]').show();$("#id_income_link").show();
               $('label[for="id_returns_link"]').hide();$("#id_returns_link").hide();
            } else if( $(this).val()==="chain"){
               $('label[for="id_chain_link"]').show();$("#id_chain_link").show();
               $('label[for="id_loan_link"]').hide();$("#id_loan_link").hide();
               $('label[for="id_income_link"]').hide();$("#id_income_link").hide();
               $('label[for="id_returns_link"]').hide();$("#id_returns_link").hide();
            } else if( $(this).val()==="loan"){
               $('label[for="id_chain_link"]').hide();$("#id_chain_link").hide();
               $('label[for="id_loan_link"]').show();$("#id_loan_link").show();
               $('label[for="id_income_link"]').hide();$("#id_income_link").hide();
               $('label[for="id_returns_link"]').hide();$("#id_returns_link").hide();
            } else if( $(this).val()==="returns"){
               $('label[for="id_chain_link"]').hide();$("#id_chain_link").hide();
               $('label[for="id_loan_link"]').hide();$("#id_loan_link").hide();
               $('label[for="id_income_link"]').hide();$("#id_income_link").hide();
               $('label[for="id_returns_link"]').show();$("#id_returns_link").show();
            }
        });
    </script>
{% endblock %}
