{% extends "load_base.html" %}

{% block title %}Expenses Report{% endblock %}

{% block content %}
    <h1> Expense </h1>
    {% for post in posts %}
        <p> {{ post.money_spent }} <br /> {{ post.money_source }}</p>
    {% endfor %}
{% endblock %}
